# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data & cache
data/raw/
data/processed/
f1_cache/

# Models
models/

# Env files
.env
.env.*

# Frontend / Node
node_modules/

# Editor / IDE folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

